 /* blinking cursor */
 #cursor { 
    color: rgba(0,0,0,0);
    width: 5px;
    background: lime;
    line-height: 17px;
    margin-left: 3px;
    -webkit-animation: blink 0.6s infinite;
    animation-name: blink 0.6s infinite;
    width: 7px;
    height: 15px;
  }
  
  @-webkit-keyframes blink {
    0% {background: rgba(0,0,0,0)}
    50% {background: lime}
    100% {background: rgba(0,0,0,0)}
  }
  
  @keyframes blink {
    0% {background: rgba(0,0,0,0)}
    50% {background: lime}
    100% {background: rgba(0,0,0,0)}
  }